.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks/utils/.ipynb_checkpoints/
notebooks/utils/__pycache__/
bash/.ipynb_checkpoints/
resources/preprocessing_notes/.ipynb_checkpoints/
notebooks/results/
resources/dataset_info/
resources_prior_to_sub03/
notebooks/figures_prior_to_sub03/

resources/nbs/Schaefer2018_400Parcels_7Networks_AAL2/NBS_Data/
resources/conn/NBS_T2p58_s0.05_Both.txt
resources/conn/NBS_T2p58_s0.05_SetB_gt_SetA.txt
resources/conn/NBS_T3p1_s0.05_Both.txt
resources/conn/NBS_T3p1_s0.05_SetB_gt_SetA.txt
resources/nbs/Schaefer2018_400Parcels_7Networks_AAL2/NBS_Results/NBS_T2p58_s0.05_SetA_gt_SetB.mat
resources/nbs/Schaefer2018_400Parcels_7Networks_AAL2/NBS_Results/NBS_T3p1_s0.05_SetA_gt_SetB.mat
resources/nbs/Schaefer2018_400Parcels_7Networks_AAL2/history.mat
resources/cpm/swarm_outputs/
notebooks/figures/.ipynb_checkpoints/
notebooks/cpm/.ipynb_checkpoints/
notebooks/cpm/__pycache__/
notebooks/processed_data.csv
notebooks/snycq_clusters.csv
