notebooks/.ipynb_checkpoints/
notebooks/utils/.ipynb_checkpoints/
notebooks/utils/__pycache__/
bash/.ipynb_checkpoints/
resources/preprocessing_notes/.ipynb_checkpoints/
notebooks/figures/
notebooks/results/
resources/cpm/
resources/dataset_info/
resources/mtl_snycq/
resources/nbs/
resources/snycq/
matlab/history.mat
notebooks/cpm/.ipynb_checkpoints/
notebooks/cpm/__pycache__/
